body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

main input {
    padding: 10px;
    font-size: 3rem;
    border-radius: 5px;
    margin-top: 6rem;
}

main button {
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #000000;
    color: white;
    cursor: pointer;
    margin: 10px;
}

#content {
    display: none;
}

#image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
}