body {
    font-family: Arial, sans-serif;

    text-align: center;
    padding-top: 100px;
}

main input{
    padding: 10px;
    font-size: 3rem;
    border-radius: 5px;

    margin-top: 2rem;
}

main button {
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin: 10px;
}

#content {
    display: none;
    margin-top: 30px;
}

video {
    width: 80%;
    max-width: 700px;
    border-radius: 12px;
}